/* Custom styles for the date picker */
.react-datepicker {
  font-family: Arial, sans-serif;
}

.react-datepicker__header {
  background-color: #007bff; /* Blue header */
  color: #fff;
}

.react-datepicker__day {
  color: #000;
}

.react-datepicker__day--selected {
  background-color: #007bff; /* Selected date color */
  color: #fff;
}
